* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

header .container,
section .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header {
    background-color: #111111;
    padding: 24px;
}

header li {
    display: inline;
}

header li a {
    text-decoration: none;
    color: #fff;
}

.header-title img{
    height: 42px;
    margin-right: 8px;
}

.header-title {
    display: flex;
    align-items: center;
}

nav ul li {
    margin-right: 18px;
}

nav ul li:last-child {
    margin-right: 0px;
}

body {
    background-color: #0F1519;
    color: #fff;
    font-family: "Inter", serif;
}

section .container {
    align-items: flex-start;
}

#about .container img {
    height: 400px;
}

#about .container {
    margin-top: 24px;
}

#about > div > div > h2 {
    margin-bottom: 12px;
}

#about div div p {
    margin-bottom: 8px;
}

#teams .container {
    margin-top: 32px;
    flex-direction: column;
}

#teams .container h2 {
    margin: 0 auto 18px;
}

.team-list ul li{
    list-style-type: none;
}

.team-list ul li img {
    width: 52px;
    margin-right: 18px;
}

.social-links {
    display: flex;
}

.social-links img {
    height: 24px;
}

.social-links li {
    margin-right: 8px;
    list-style-type: none;
}

#contact .container {
    margin-top: 24px;
    display: block;
}

.contact-methods {
    display: flex;
    justify-content: center;
    gap: 64px;
}

.contact-methods div h3 {
    margin-bottom: 8px;
}

form {
    display: flex;
    flex-direction: column;
}

form input,
form textarea,
form button {
    border: 1px solid;
    border-radius: 8px;
}

form input,
form textarea {
    padding: 8px;
    margin-bottom: 8px;
}

form input:focus {
    outline: 1px solid #0F1519;
}

form button {
    background-color: #0F1519;
    color: #fff;
    padding: 8px;
    cursor: pointer;
}

form button:hover {
    background-color: #25465c;
}

form textarea,
form button {
    font-family: "Inter", serif;
}

footer {
    margin: 12px;
}